@{
    Html.AppendCssFileParts("~/css/admin.common.css");
    Html.AppendCssFileParts("~/css/style.css");
    Html.AppendCssFileParts("~/lib/bootstrap/dist/css/bootstrap.min.css");
    Html.AppendCssFileParts("~/lib/jquery-ui/jquery-ui-1.10.3/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");
    Html.AppendCssFileParts("~/lib/font-awesome/css/font-awesome.min.css");

    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/admin.common.js");

    Html.AppendScriptParts("~/lib/jquery-migrate/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/lib/jquery-ui/jquery-ui-1.10.3/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/lib/jquery-validate/jquery.validate.unobtrusive/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/lib/jquery-validate/jquery.validate-v1.11.1/jquery.validate.min.js");
    Html.AppendScriptParts("~/lib/bootstrap/dist/js/bootstrap.min.js");
    Html.AppendScriptParts("~/lib/jquery/jquery-1.10.2/jquery-1.10.2.min.js");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Stock Management System</title>

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    @Html.DefaultCssFiles(this.Url, ResourceLocation.Head, false)
    @Html.DefaultScripts(this.Url, ResourceLocation.Head, false)
    <style>
        .message-error {
            display: block;
            text-align: center;
            color: #e4434b;
            margin-top: 5px;
        }
    </style>
    @Html.DefaultInlineScripts(this.Url, ResourceLocation.Head)
</head>
<body class="hold-transition login-page">
@await Html.PartialAsync("Notifications")
@RenderBody()
@Html.DefaultCssFiles(this.Url, ResourceLocation.Footer, true)
@Html.DefaultScripts(this.Url, ResourceLocation.Footer, true)
@Html.DefaultInlineScripts(this.Url, ResourceLocation.Footer)
</body>
</html>