@model RoleSearchModel

@{
    //page title
    ViewBag.Title = "Role Management";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Role");
}

<_antiforgery-token/>
<section class="content-header clearfix">
    <h1 class="pull-left">@ViewBag.Title</h1>
    <ol class="breadcrumb pull-right">
        <li class="#">
            <a href="@Url.Action("Index", "Home")">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li class="#">
            <a href="#">
                <i class="fa fa-cogs"></i>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a asp-action="Index">@ViewBag.Title</a>
        </li>
    </ol>
</section>

<section class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="grid"></div>
                    <style>
                        .hidden { display: none; }

                        .custom-button {
                            color: #444444;
                            padding-right: 10px;
                            font-size: 1.5em;
                        }
                    </style>
                    <script>
                        $(document).ready(function() {
                            var grid = $("#grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "Role"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        },
                                        create: {
                                            url: "@Html.Raw(Url.Action("RoleAdd", "Role"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        },
                                        update: {
                                            url: "@Html.Raw(Url.Action("RoleUpdate", "Role"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        },
                                        destroy: {
                                            url: "@Html.Raw(Url.Action("RoleDelete", "Role"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors",
                                        model: {
                                            id: "Id",
                                            fields: {
                                                Id: { editable: false, type: "number" },
                                                Name: {
                                                    editable: true,
                                                    type: "string",
                                                    validation: {
                                                        required: true,
                                                        duplicate: function(input) {
                                                            if (input.is("[name='Name']") && input.val() != "") {
                                                                // get data
                                                                var name = input.val();
                                                                var grid = $("#grid").data('kendoGrid');
                                                                var view = grid.dataSource.view();
                                                                var dataItem = grid.dataItem('tr.k-grid-edit-row');
                                                                var nameEdit = dataItem.Name;
                                                                // validate
                                                                var valid = true;
                                                                for (var i = 0; i < view.length; i++) {
                                                                    if ((name == view[i].Name) && (name != nameEdit) && view[i].id) {
                                                                        valid = false;
                                                                        input.attr("data-duplicate-msg", "Duplicates not allowed.");
                                                                        break;
                                                                    }
                                                                }
                                                                return valid;
                                                            }
                                                            return true;
                                                        }
                                                    }
                                                },
                                                Active: { editable: true, type: "boolean" },
                                                IsSystemRole: { editable: true, type: "boolean" }
                                            }
                                        }
                                    },
                                    requestEnd: function(e) {
                                        if (e.type == "create" || e.type == "update") {
                                            this.read();
                                        }
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true,
                                    sort: { field: "Id", dir: "asc" }
                                },
                                sortable: {
                                    mode: "single",
                                    allowUnsort: false
                                },
                                filterable: true,
                                columnMenu: { columns: false },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                toolbar: [
                                    {
                                        name: "create",
                                        text: "Add",
                                        iconClass: "glyphicon btn-glyphicon glyphicon-plus img-circle text-danger"
                                    }
                                ],
                                scrollable: false,
                                columns: [
                                    {
                                        field: "Name",
                                        title: "Name",
                                        width: 250
                                    },
                                    {
                                        field: "Active",
                                        title: "Active",
                                        width: 100,
                                        sortable: false,
                                        filterable: false,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '# if(Active) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                    }, {
                                        field: "IsSystemRole",
                                        title: "Is system role",
                                        width: 100,
                                        sortable: false,
                                        filterable: false,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '# if(IsSystemRole) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                    },
                                    {
                                        template:
                                            "<a href='\\#' title='Edit' class='custom-button edit-button'><i class='glyphicon glyphicon-pencil'></i></a>" +
                                            "<a href='\\#' title='Update' class='custom-button update-button hidden'><i class='fa fa-check-square'></i></a>" +
                                            "<a href='\\#' title='Cancel' class='custom-button cancel-button hidden'><i class='fa fa-minus-square'></i></a>" +
                                            "<a href='\\#' title='Destroy' class='custom-button destroy-button'><i class='glyphicon glyphicon-trash'></i></a>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        width: 10
                                    }
                                ],
                                editable: {
                                    confirmation: "Are you sure you want to delete this item?",
                                    mode: "inline"
                                },
                                edit: function(e) {
                                    // Change buttons visibility when the Grid enters edit mode.
                                    var editRow = e.container;
                                    editRow.find(".custom-button").toggleClass("hidden");
                                }
                            }).data("kendoGrid");

                            //Removing Column Menu
                            grid.thead.find("[data-field=Active]>.k-header-column-menu").remove();
                            grid.thead.find("[data-field=IsSystemRole]>.k-header-column-menu").remove();

                            $("#grid").on("click", ".custom-button", function(e) {
                                    var btn = $(this);
                                    e.preventDefault();

                                    if (btn.hasClass("edit-button")) {
                                        var row = btn.closest("tr");
                                        grid.editRow(row);
                                    } else if (btn.hasClass("cancel-button")) {
                                        grid.cancelRow();
                                    } else if (btn.hasClass("update-button")) {
                                        grid.saveChanges();
                                    } else if (btn.hasClass("destroy-button")) {
                                        var row = btn.closest("tr");
                                        grid.removeRow(row);
                                    }
                                });
                        });

                    </script>
                </div>
            </div>
        </div>
    </div>
</section>