@model ClientModel
@using StockManagementSystem.Api.Models.ApiSettings.Clients

@{
    Layout = ViewNames.Layout;

    ViewBag.Title = "Edit Api client";
    Html.SetActiveMenuItemSystemName("api.settings");
}

<form asp-controller="ApiClients" asp-action="Edit" method="post">
    @Html.HiddenFor(model => model.Id)
    @Html.AntiForgeryToken()
    <section class="content-header clearfix">
        <h1 class="pull-left">
            <a asp-action="List"><i class="fa fa-arrow-circle-left"></i></a>
            @ViewBag.Title - @Model.ClientName
        </h1>
        <div class="pull-right">
            <div class="ui-group-buttons">
                <button type="submit" name="save" class="btn bg-blue-gradient">
                    <i class="glyphicon glyphicon-save"></i> Save
                </button>
                <div class="or"></div>
                <button type="submit" name="save-continue" class="btn bg-yellow-gradient">
                    <i class="glyphicon glyphicon-saved"></i> Save and Continue Edit
                </button>
            </div>

            <a href="#" id="client-delete" class="btn bg-red-gradient" role="button" data-toggle="tooltip" data-placement="bottom" title="Delete">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </section>

    <section class="content">
        <div class="form-horizontal">
            @await Html.PartialAsync(ViewNames.ApiClientsCreateOrUpdate, Model)
        </div>
    </section>
</form>
<_delete-confirmation asp-model-id="@Model.Id" asp-action="Delete" asp-button-id="client-delete"/>