@model StockManagementSystem.Models.Setting.SettingViewModel
@{
    ViewData["Title"] = "Add Order";
}

@section navigations{
    @await Html.PartialAsync("_NavPartial")
}

<div class="content-wrapper">
    <section class="content-header">
        <h1 class="fa fa-wrench">&nbsp;Stock Order Setting</h1>
        <ol class="breadcrumb">
            <li class="#"><a href="@Url.Action("Order","Setting")"><i class="fa fa-wrench"></i></a></li>
            <li class="breadcrumb-item active"><a href="@Url.Action("Order","Setting")">Stock Order Setting</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Panels -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Add order limit</h3>
            </div>
            <form id="add-form" asp-controller="Setting" asp-action="SaveOrderLimit" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                <div class="box-body">
                    <div class="form-group">
                        <label for="InputPercentage">Percentage Allowance</label>                        
                        <div class="input-group">
                            <input asp-for="Percentage" type="text" class="form-control" id="InputPercentage" autofocus placeholder="Enter percentage">
                            <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                            <span asp-validation-for="Percentage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputBranch">Branch</label>
                        <select asp-for="P_BranchNo" asp-items="@(new SelectList(Model.Store, "P_BranchNo", "P_Name"))" class="form-control select2 select2-hidden-accessible">
                            <option>Please select one</option>
                        </select>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="button" id="btn-cancel" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-info pull-right">Submit</button>
                </div>
            </form>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {

        $('#btn-cancel').click(function (e)
        {
            location.href = '@Url.Content("~/Setting/Order/")';
        });
    });
    </script>
}