@model AddUserToStoreSearchModel

@{
    Layout = "_PopupLayout";

    ViewBag.Title = "Add a new user";
}

<form asp-controller="Store" asp-action="UserAddPopup"
      asp-route-storeId="@Context.Request.Query["storeId"]"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <section class="content-header clearfix">
        <h1 class="pull-left">
            Add a new user
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn icon-btn bg-blue-gradient">
                <span class="glyphicon btn-glyphicon glyphicon-floppy-save img-circle text-primary"></span>&nbsp;Save
            </button>
        </div>
    </section>

    @if (ViewBag.RefreshPage == true)
    {
        <script>
            try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
            catch (e){}
            window.close();
        </script>
    }

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search panel-popup">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <_label asp-for="SearchEmail" />
                                    </div>
                                    <div class="col-sm-8">
                                        <_editor asp-for="SearchEmail" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <_label asp-for="SearchUsername" />
                                    </div>
                                    <div class="col-sm-8">
                                        <_editor asp-for="SearchUsername" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-8 col-sm-offset-4">
                                        <button type="button" id="search-users" class="btn btn-primary btn-search">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="users-grid"></div>

                        <script>
                            $(document).ready(function () {
                                $("#users-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("UserAddPopupList", "Store"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: function() {
                                                    var data = {
                                                        SearchEmail: $('#@Html.IdFor(model => model.SearchEmail)').val(),
                                                        SearchUsername: $('#@Html.IdFor(model => model.SearchUsername)').val()
                                                    };
                                                    addAntiForgeryToken(data);
                                                    return data;
                                                }
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            this.cancelChanges();
                                        },
                                        pageSize: @(Model.PageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(Model.AvailablePageSizes)],
                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    editable: {
                                        confirmation: "Are you sure you want to delete this item?",
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    columns: [{
                                        field: "Id",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' name='SelectedUserIds' value='#=Id#' class='checkboxGroups' />",
                                        attributes: { style: "text-align:center" },
                                        width: 50
                                    }, {
                                        field: "Email",
                                        title: "Email"    
                                    }, {
                                        field: "Username",
                                        title: "Username"
                                    }, {
                                        field: "Active",
                                        title: "Active",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '# if(Active) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                    }]
                                });
                            });
                        </script>

                        <script>
                            $(document).ready(function () {
                                $('#search-users').click(function () {
                                    var grid = $('#users-grid').data('kendoGrid');
                                    grid.dataSource.page(1); 
                                    $('.checkboxGroups').attr('checked', false).change();
                                    return false;
                                });

                                //wire up checkboxes
                                $('#mastercheckbox').click(function () {
                                    $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                                });

                                $('#users-grid').on('change', 'input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]', function (e) {
                                    updateMasterCheckbox();
                                });
                            });

                            function updateMasterCheckbox() {
                                var numChkBoxes = $('#users-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]').length;
                                var numChkBoxesChecked = $('#users-grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked').length;
                                $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>