@model StockManagementSystem.Models.Devices.DeviceViewModel
@{
    ViewData["Title"] = "Edit Device";
}

@section navigations{
    @await Html.PartialAsync("_NavPartial")
}

<div class="content-wrapper">
    <section class="content-header">
        <h1 class="fa fa-mobile">&nbsp;Manage Device</h1>
        <ol class="breadcrumb">
            <li class="#"><a href="@Url.Action("Index", "Device")"><i class="fa fa-mobile"></i></a></li>
            <li class="breadcrumb-item active"><a href="@Url.Action("Index", "Device")">Device Management</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Panels -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Edit Device</h3>
            </div>
            <form id="edit-form" asp-controller="Device" asp-action="Edit" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                <div class="box-body">
                    @Html.HiddenFor(model => model.DeviceId)
                    <div class="form-group">
                        <label for="InputSerialNo">Serial Number</label>
                        <input asp-for="SerialNo" type="text" class="form-control" id="InputSerialNo" autofocus placeholder="Enter serial number">
                        <span asp-validation-for="SerialNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="InputModelNo">Model Number</label>
                        <input asp-for="ModelNo" type="text" class="form-control" id="InputModelNo" placeholder="Enter Model Number">
                        <span asp-validation-for="ModelNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="InputBranch">Branch</label>
                        <select asp-for="P_BranchNo" asp-items="@(new SelectList(Model.Store, "P_BranchNo", "P_Name"))" class="form-control select2 select2-hidden-accessible">
                            <option>Please select one</option>
                        </select>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="button" id="btn-cancel" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-info pull-right">Submit</button>
                </div>
            </form>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn-cancel').click(function (e)
            {
                location.href = '@Url.Content("~/Device/")';
            });
        });
    </script>
}